@use 'src/assets/styles/variables';

.wrapper {
	margin: 0px 0px 60px 0px;
	height: 100%;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	gap: 40px;

	text-align: center;
}

.footer {
	color: variables.$white;
	font-size: 14px;
	font-weight: 500;

	& > a {
		color: variables.$blue;
	}
}
