@use 'src/assets/styles/variables';

.layout {
	max-width: 400px;
	height: 820px;
	width: 100%;

	position: relative;

	background-color: variables.$white;

	border-radius: 40px;

	&.welcomePage {
		background: url('/images/bg-image.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		& .content {
			justify-content: flex-end;
		}
	}
}

.content {
	padding: 0px 25px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
