@use 'src/assets/styles/variables';

.button {
	display: block;
	color: variables.$white;
	padding: 16px 32px;
	font-weight: 600;
	font-size: 20px;
	border-radius: variables.$radius;
	background: variables.$blue;

	transition: background .3s ease-in-out;

	&:hover {
		background: #2d4e97;
	}
}
