@import 'src/assets/styles/variables';

.menu {
	padding: 12px;

	position: absolute;
	top: 50px;
	opacity: 0;
	z-index: -1;

	border-radius: $radius;
	background-color: red;
	&.show {
		opacity: 1;
	}
}
