@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600,700);

$font-family: 'Work Sans', sans-serif;

$blue: #2563eb;
$black: #111214;
$white: #fff;
$light-gray: #393c43;
$gray: #f3f3f4;

$radius: 18px;

$mobile: 420px;
